---
# Overwrite Tachyons here. Don't go overboard!
---

.w-70-ns {
  width: 70vw;
}

.arial { font-family: 'Arial', 'Helvetica', sans-serif;}

.urb-blue {color: #587BFF;}

.stretch {
  transform: scale(1,1.2);
  -webkit-transform: scale(1,1.2);
}

.navshadow {
  text-shadow:
  1px 1px 30px #fff,
  1px 1px 20px #fff,
  1px 1px 10px #fff,
  2px 2px 10px #fff,
  3px 3px 10px #fff,
  1px 1px 5px #fff;
}

img.inline {
    height: 1em;
    width: 1em;
    margin-bottom: -0.2em;
    cursor: zoom-in;
}

.popover {
    display: none;
    position: fixed;
    pointer-events: none;
    max-width: 500px;
}

.shadowed { box-shadow: 0px 0px 20px 0px rgba( 0, 0, 0, 0.5 ); }

@media screen and (min-width: 95em) {
    .f2-xl {
        font-size: 2rem;
    }
    .w-90-xl {
        width: 90%;
    }
    .mw9-xl {
      max-width: 96rem;
    }
}

@media screen and (min-width: 50em) {
  .f3-vw {
    font-size: 1.7vw;
  }
}