---
layout: default
title: Writing
permalink: /writing/
---

<section class="center w-90 w-70-ns w-90-xl mw8 mw9-xl mt4 mh4 mv5-ns f6 f3-vw f2-xl">

  <p class="lh-copy ph4 pv3 tc ba br-pill bw1 dib">Writing</p>
  <p class="lh-copy pl5">On works<span class="serif">,</span> process<span class="serif">,</span> and other movements<span class="serif">.</span></p> 
  <p class="lh-copy pl2">To receive updates via email<span class="serif">,</span> <a href="http://eepurl.com/cLovZr" target="_blank" class="black underline link">click here</a><span class="serif">.</span></p>
  <p class="lh-copy pl4 pl7-ns">2016 — Ongoing</p>

  <ul class="lh-copy pl2 w-50-ns mb4 mb6-ns pb4" id="post-list">
    <li class="list"> {% for post in site.posts %}
      <a class="db black-50 link hover-black f6 f3-vw f2-xl" href='{{ post.url }}'>
        <p class="mb0 serif stretch">{{ post.title }}</p>
        <aside class="f6 mt0">{{ post.date | date: "%-d %B %Y" }}</aside>
        <p class="lh-copy">{{ post.headline }}</p>
      </a>
    </li> {% endfor %}
  </ul>

  {% include header.html %}

</section>
