<p class="lh-copy pl5">Previously<span class="serif">:</span></p>

<ol start="3" class="lh-copy pl2 measure">
  <!-- <li>Designed a ˗ˏˋdazzlingˎˊ˗ array of digital product experiences for millions of creative people at <a href="https://www.tumblr.com/" target="_blank" class="black link hover-black">Tumblr</a></li> -->
  <li>Built hyper-complex B<span class="athelas">2</span>B software and started a popular intra-net radio station with friends at <a href="http://www.ibm.com/design/" target="_blank" class="black link hover-black">International Business Machines</a></li>
</ol>