<p class="lh-copy ml2 ml5-ns ph4 pv3 tc ba br-pill bw1 dib">Context</p>

<p class="lh-copy pl5">Interests and Expertise include<span class="serif">:</span></p>

<div class="lh-copy pl2 measure">
  <img src="/images/pd.gif" class="inline" alt="product design"/> Product Design<span class="serif">,</span> <img src="/images/id.jpg" class="inline" alt="industrial design"/> Industrial Design<span class="serif">,</span> <img src="/images/sys.png" class="inline" alt="complex systems design"/> Systems Design<span class="serif">,</span> <img src="/images/org.jpg" class="inline" alt="organizational design"/> Organizational Design<span class="serif">,</span> <img src="/images/mm.gif" class="inline" alt="mass manufacturing"/> Mass Manufacture<span class="serif">,</span> and other <img src="/images/mars.jpg" class="inline" alt="mars"/> Large and <img src="/images/wp.jpg"
  class="inline" alt="wicked problems"/> <span class="georgia i">Wicked</span> projects<span class="serif">.</span>
</div>
<div class="popover"></div>

<p class="lh-copy ph2 pl4-ns measure-wide">
I am oriented towards the future<span class="serif">.</span> I<span class="serif">’</span>d like to spend my life guiding complex product systems towards egalitarian ends<span class="serif">.</span> Heritage craft-works and nostalgia are uninteresting to me<span class="serif">.</span> New infrastructures and modes of being are very interesting to me<span class="serif">.</span>
</p>

<p class="lh-copy pl4 pl7-ns">I can build any system<span class="serif">,</span> large or small<span class="serif">.</span></p>