<p class="lh-copy pl2">Ed is a <a href="http://ux.edouard.us/" class="black link">physical–digital product designer</a> né <a href="http://id.edouard.us/" class="black link">industrial designer</a>.</p>

<div class="lh-copy pl2 measure-wide">
  Interests and Expertise include — <img src="/images/pd.gif" class="inline" alt="product design"/> Product Design<span class="serif">,</span> <img src="/images/id.jpg" class="inline" alt="industrial design"/> Industrial Design<span class="serif">,</span> <img src="/images/sys.png" class="inline" alt="complex systems design"/> Systems Design<span class="serif">,</span> <img src="/images/org.jpg" class="inline" alt="organizational design"/> Organizational Design<span class="serif">,</span> <img src="/images/mm.gif" class="inline" alt="mass manufacturing"/> Mass Manufacture<span class="serif">,</span> and other <img src="/images/mars.jpg" class="inline" alt="mars"/> Large and <img src="/images/wp.jpg"
  class="inline" alt="wicked problems"/> <span class="georgia i">Wicked</span> projects.</div>
<div class="popover"></div>
