<p class="lh-copy ml4 ml7-ns ph4 pv3 tc ba br-pill bw1 dib">Works</p>

<p class="lh-copy pl5">A sampling of works<span class="serif">,</span> sketches<span class="serif">,</span> and other interfaces<span class="serif">.</span></p>
<p class="lh-copy pl2">Case studies<span class="serif">:</span> <a href="http://ux.edouard.us/" class="black-40 link hover-black" target="_blank">digital product design</a><span class="serif"> ...</span> <a href="http://id.edouard.us/" class="black-40 link hover-black" target="_blank">industrial design</a><span class="serif">.</span></p>
<p class="lh-copy pl4 pl7-ns mb3">2017 — Ongoing</p>

<img class="db pb5" src="/images/uc.gif">
