<section class="w-100 pb5"></section>

<p class="lh-copy ml4 ml7-ns ph4 pv3 tc ba br-pill bw1 dib">Works</p>
<p class="lh-copy pl5">A sampling of works<span class="serif">,</span> sketches<span class="serif">,</span> and other interfaces<span class="serif">.</span></p>
<p class="lh-copy pl2">Case studies<span class="serif">:</span> <a href="http://ux.edouard.us/" class="black-40 link hover-black" target="_blank">digital product design</a><span class="serif"> ...</span> <a href="http://id.edouard.us/" class="black-40 link hover-black" target="_blank">industrial design</a><span class="serif">.</span></p>
<p class="lh-copy pl4 pl7-ns mb3">2017 — Ongoing</p>

<section class="fl w-100 mt3 mb5 mb6-ns">

  <!-- PROJECT ONE-->
  <a href="https://www.figma.com/file/NgBtgxf20tE2xO6VzRfIvwQd/Urbit-Apps" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--1x1">
        <span style="background-image:url(/images/urb-2.png);" class="flex items-center dt hide-child cover bg-center aspect-ratio--object"></span>
      </div>
    </div> 
  </a>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- PROJECT FOUR-->
  <a href="https://www.figma.com/file/NgBtgxf20tE2xO6VzRfIvwQd/Urbit-Apps" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/urb-1.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- PROJECT FOUR-->
  <a href="http://urbit.org/fora/posts/~2017.6.5..14.13.08..c70e~/" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-30-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/urb-3.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object shadowed"></span>
      </div>
    </div>
  </a>

  <!-- PROJECT FOUR-->
  <a href="https://github.com/aredotna/case/issues/2" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/arena-1.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <p class="fl ph2 tr lh-copy w-100 mb5 mb0-ns">Open-source design works — easier-to-use patterns<span class="serif">,</span> speculative interfaces<span class="serif">.</span></p>
  
  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>
  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>    

  <!-- PROJECT FOUR-->
  <a href="/works" class="link">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--1x1">
        <span style="background-image:url(/images/pilot.svg);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <p class="fl ph2 tc lh-copy w-100 mb5 mb0-ns">Moonlighting<span class="serif">,</span> Freelance<span class="serif">,</span> etc<span class="serif">.</span></p>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- PROJECT ONE-->
  <a href="https://twitter.com/learningardens" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--1x1">
        <span style="background-image:url(/images/lg-1.jpg);" class="flex items-center dt hide-child cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

 <!-- PROJECT FOUR-->
  <a href="http://learning-gardens.co" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/lg-2.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a> 

  <!-- PROJECT THREE-->
  <a href="https://www.are.na/edouard-u/learning-gardens" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--3x4">
        <span style="background-image:url(https://d2w9rnfcy7mm78.cloudfront.net/769528/large_b3669b1752cd8172e2f93b3ef57c9dfe.png);" class="flex items-center dt hide-child cover bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <p class="fl ph2 lh-copy w-100 mb5 mb0-ns">Art and materials and website for Learning Gardens<span class="serif">,</span> with <a href="http://ltwp.net/work/" target="_blank" class="black underline link hover-black">Lukas</a><span class="serif">.</span></p>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div> 

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>


  <!-- PROJECT FOUR-->
  <a href="https://ministryofdesign.tumblr.com/post/157877099979/messaging-icebreakers" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumblr-1.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- PROJECT FOUR-->
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumblr-2.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>

  <!-- PROJECT FOUR-->
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumblr-1.gif);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>

    <!-- PROJECT FOUR-->
    <!--<div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumblr-3.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>-->

    <!-- PROJECT FOUR-->
    <!--<div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumblr-4.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>-->

  <p class="fl ph2 tc lh-copy w-100">Many<span class="serif">,</span> many app experiences and interfaces <span class="serif">...</span></p>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div> 

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- SPACER-->
  <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>

  <!-- PROJECT FOUR-->
  <a href="http://labs.edouard.us/type-test/" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumbl-type.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- SPACER-->
  <!--<div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l dn dib-ns"><div class="aspect-ratio aspect-ratio--4x3"></div></div>-->

  <a href="http://labs.edouard.us/residency/" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumbl-residency.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- PROJECT FOUR-->
  <a href="http://labs.edouard.us/creativity-levels/index.html" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-30-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumbl-energy.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <!-- PROJECT FOUR-->
  <a href="http://labs.edouard.us/reporting-ia/" class="link" target="_blank">
    <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
      <div class="aspect-ratio aspect-ratio--4x3">
        <span style="background-image:url(/images/tumbl-map.png);" class="flex items-center dt hide-child contain bg-center aspect-ratio--object"></span>
      </div>
    </div>
  </a>

  <p class="fl ph2 tc lh-copy w-100"><span class="serif">...</span> and websites for Tumblr<span class="serif">.</span></p>

</section>
