<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="bg-white black arial">
        <article class="post center w-90-ns w-70-ns w-90-xl mw8 mw9-xl mt4 mh4 mb3 mb6-ns mv5-ns f6 f3-vw f2-xl" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="lh-copy pl2 post-header">
            <p class="post-title" itemprop="name headline">{{ page.title }}</p>

            <p class="post-meta black-20">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            </p>
          </header>

          <section class="lh-copy pl2 post-content pb5 measure georgia" itemprop="articleBody">
            {{ content }}
          </section>

          {% include header-writing.html %}
        </article>
  </body>

  {% include scripts.html %}

</html>
